.settings-cont {
  display: flex;
  max-width: 65%;
  min-height: 75vh;
  margin: 2rem auto;
  padding: 4rem 3rem;
  background-color: #fefefe;
  border-radius: 2rem;
}

.cont-title,
.cont-bottom {
  padding-bottom: 1.6rem;
  cursor: pointer;
  color: #444;
  font-size: 1.2rem;
  font-weight: 600;
}

.cont-bottom {
  font-weight: 400;
  font-size: 1.1rem;
  display: inline-block;
}

.settings-cont-left {
  margin-right: 1.2rem;
  border-right: 1px solid #eee;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings-cont-right {
  width: 100%;
}

.user-form {
  margin-top: 7rem;
}
.user-img {
  margin: 0 auto;
  border-radius: 50%;
}

.user-img--content {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.user-label {
  margin: 3rem;
  font-size: 1.27rem;
  color: #777;
}
.user-input {
  display: block;
  width: 80%;
  padding: 0.5rem 2rem;
  border: none;
  display: block;
  border-radius: 1rem;
  margin: 0.8rem auto;
  caret-color: #888;
  background-color: rgba(100, 100, 100, 0.2);
  color: #454545;
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
}
.user-input:focus {
  outline: none;
  box-shadow: 0 0.2rem 0.3rem #eee;
  background-color: rgba(100, 100, 100, 0.35);
}

.user-btn {
  padding: 0.7rem 2rem;
  color: #eee;
  background-color: #666;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem #999;
}
.user-btn:hover {
  box-shadow: 0 0.1rem 0.3rem #888;
}
.change-btn {
  margin-top: 2rem;
  margin-left: 40%;
}
.delete-btn {
  margin-top: 2rem;
  background-color: tomato;
  color: #555;
  width: 10rem;
  margin-left: 1.2rem;
}

.delete-info {
  margin-top: 2rem;
  color: #888;
  font-size: 1.1rem;
  margin-left: 0.3rem;
  border-top: 1px solid tomato;
  padding-top: 1rem;
}
.delete-info--detail {
  margin-top: 0.2rem;
  color: #999;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
